:root {
  --black: #000;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1000px;
  --blue: #00b0ff;
  --input-background: #eceff1;
  --chat-background: #44c2f3;
  --reply-background: #78d2ff;
  --scrolbar-track: #e4e4e4;
  --scrollbar-thumb: #a7dbec;
}
