<div class="wrapper" *ngIf="currentUser">
  <div class="container-fluid main">
    <div class="row my-3">
      <div class="col-12 col-md-3 left">
        <div class="top d-flex flex-row justify-content-between">
          <div class="ms-2 text-end justify-content-center d-flex flex-column">
            <div class="me-3 text-end justify-content-center d-flex flex-column">
              <mat-icon [matMenuTriggerFor]="profileMenu">account_circle</mat-icon>
            </div>
            <mat-menu #profileMenu="matMenu">
              <button mat-menu-item>Profile</button>
              <button mat-menu-item>Settings</button>
              <button mat-menu-item (click)="signOutUser()">Sign Out</button>
            </mat-menu>
          </div>
          <input type="text" style="width: 100%" placeholder="Search"/>
          <div class="ms-2 text-end justify-content-center d-flex flex-column">
            <mat-icon [matMenuTriggerFor]="createMenu">add</mat-icon>
            <mat-menu #createMenu="matMenu">
              <button mat-menu-item>New Chat</button>
              <button mat-menu-item>New Group</button>
            </mat-menu>
          </div>
        </div>
        <ul class="people" *ngIf="allUserChats && allUserChats.length">
          <li class="person d-flex flex-row" data-chat="person1"
              *ngFor="let userChat of allUserChats"
              [ngClass]="userChat.chatId == selectedChatId ? 'active': ''"
              (click)="selectChat(userChat.chatId)">
            <div class="d-flex flex-row">
              <img src="/assets/img/user/userProfile.png" alt=""/>
              <div class="d-flex flex-column">
                <span class="name">{{userChat.receiverFirstName + ' ' + userChat.receiverLastName}}</span>
                <span class="preview">
                  {{userChat.latestMessageText?.substr(0, 14)}}
               </span>
              </div>
            </div>
            <div class="">
              <span class="time">{{userChat.lastUpdatedChatDate}}</span>
              <span *ngIf="userChat.unreadMessagesCount > 0"
                    [matBadge]="userChat.unreadMessagesCount" matBadgeOverlap="false" matBadgeColor="warn">
             </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-9 chat-user-detail-parent">
        <app-chat-user-detail *ngIf="selectedChatId !== 0"
                              (callGetAllUserChats)="callGetAllUserChats($event)"
                              [selectedChatId]="selectedChatId"></app-chat-user-detail>
      </div>
    </div>
  </div>
</div>
