@mixin font-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

@mixin font {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @include font;
  //background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/image.jpg');
  background-size: cover;
  /*background-repeat: none;*/
}

.main {
  background-color: var(--white);
  height: 80vh;

  .row {
    height: 100%;
  }

  .chat-user-detail-parent {
    height: 100%;
  }

  /* transform: translate(-50%, -50%);*/
  .left {
    float: left;
    height: 100%;
    /* border: 1px solid var(--light);*/
    background-color: var(--white);

    .top {
      position: relative;
      width: 100%;
      height: 96px;
      padding: 29px;
      /*
            &:after {
              position: absolute;
              bottom: 0;
              left: 50%;
              display: block;
              width: 80%;
              height: 1px;
              content: '';
              background-color: var(--light);
              transform: translate(-50%, 0);
            }*/
    }

    input {
      float: left;
      width: 188px;
      height: 42px;
      padding: 0 15px;
      border: 1px solid var(--light);
      background-color: var(--input-background);
      border-radius: 21px;
      @include font();

      &:focus {
        outline: none;
      }
    }

    a.search {
      display: block;
      float: left;
      width: 42px;
      height: 42px;
      margin-left: 10px;
      border: 1px solid var(--light);
      background-color: var(--chat-background);
      //background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png');
      background-repeat: no-repeat;
      background-position: top 12px left 14px;
      border-radius: 50%;
    }

    .people {
      margin-left: -1px;
      /*      border-right: 1px solid var(--light);
            border-left: 1px solid var(--light);*/
      width: calc(100% + 2px);

      .person {
        position: relative;
        width: 100%;
        padding: 12px 1px 12px;
        cursor: pointer;
        list-style: none;
        background-color: var(--white);

        /*&:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 80%;
          height: 1px;
          content: '';
          background-color: var(--light);
          transform: translate(-50%, 0);
        }*/

        img {
          float: left;
          width: 40px;
          height: 40px;
          margin-right: 12px;
          border-radius: 50%;
          object-fit: cover;
        }

        .name {
          font-size: 14px;
          line-height: 22px;
          color: var(--dark);
          @include font-bold;
        }

        .time {
          font-size: 14px;
          position: absolute;
          top: 16px;
          right: 10%;
          padding: 0 0 5px 5px;
          color: var(--grey);
          background-color: var(--white);
        }

        .preview {
          font-size: 14px;
          display: inline-block;
          overflow: hidden !important;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--grey);
        }

        &.active, &:hover {
          margin-top: -1px;
          margin-left: -1px;
          padding-top: 13px;
          border: 0;
          background-color: var(--chat-background);
          width: calc(100% + 2px);
          padding-left: calc(10% + 1px);

          span {
            color: var(--white);
            background: transparent;
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 700px) {
  .top {
    padding: 30px 5px !important;
  }
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
