<!--
<header>
  <div class="logo-container">
    <h4 class="logo-label">Chat application</h4>
  </div>
  <nav>
    <ul class="nav-links">
    </ul>
  </nav>
</header>
<div class="container" *ngIf="currentUser">
  <div class="chatBox text-center mt-3">
    <div *ngIf="activeChat">
      <span>{{activeChat.receiverFullName}}</span>
    </div>
    <div class="inBox">
      <div class="msg-scroll">
        <div *ngFor="let msg of history">
          <div class="messageBox messageBoxSender "
               *ngIf="currentUser.id == msg.senderId">
            <div class="d-flex flex-column ">
              <span class="messageBody"> {{msg.message}} </span>
              <span class="time_date"> {{msg.createdAt | date:'medium'}} </span>
            </div>
          </div>
        </div>
        <div *ngFor="let msg of history">
          <div class="messageBox messageBoxReceiver text-break"
               *ngIf="currentUser.id != msg.senderId">
            <div class="d-flex flex-column ">
              <span class="messageBody">
                {{msg.message}}
              </span>
              <span class="time-date"> {{msg.createdAt | date:'medium'}} </span>
            </div>
          </div>
        </div>
      </div>
      <div class="type-msg">
        <div class="input-msg-write ">
          <input type="text" [value]="txtMessage"
                 (change)="textMessageChange($event)"
                 (keydown.enter)="sendToMessage()" placeholder="Type a message"/>
          <button class="msg-send-btn mr-4" type="button"
                  (click)="sendToMessage()">
            <i class="fa fa-paper-plane-o" aria-hidden="true">
              Send
            </i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<div class="wrapper" *ngIf="currentUser">
  <div class="container-fluid main">
    <div class="row my-3">
      <div class="col-12 col-md-3 left">
        <div class="top">
          <input type="text" placeholder="Search"/>
          <!--         <a href="javascript:;" class="search"></a>-->
        </div>
        <ul class="people" *ngIf="allUserChats && allUserChats.length">
          <li class="person" data-chat="person1"
              *ngFor="let userChat of allUserChats"
              [ngClass]="userChat.chatId == selectedChat?.chatId ? 'active': ''"
              (click)="selectChat(userChat.chatId)">
            <img src="/assets/img/user/userProfile.png" alt=""/>
            <span class="name">{{userChat.receiverFirstName + ' ' + userChat.receiverLastName}}</span>
            <span class="time">{{userChat.lastUpdatedChatDate}}</span>
            <span class="preview">
              {{userChat.latestMessageText.substr(0, 14)}}
            </span>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-9 right pe-5"
           *ngIf="selectedChat && selectedChat?.chatId === selectedChatId">
        <div class="top">
            <span>To:
              <span class="name">
                   {{selectedChat.receiverFirstName + ' ' + selectedChat.receiverLastName}}
               </span>
            </span>
        </div>
        <div class="h-100">
          <div class="chat h-100 my-2" #endOfUserChat
               *ngIf="messages && messages.length > 0"
               data-chat="person1"
               infiniteScroll
               style="height: 100%"
               [scrollWindow]="false"
               [infiniteScrollDistance]="1"
               [infiniteScrollUpDistance]="2"
               [infiniteScrollThrottle]="150"
               (scrolledUp)="loadData()">
            <div class="conversation-start" *ngIf="!chatMessageLoading">
              <span>{{selectedChat.startedChatDate}}</span>
            </div>
            <mat-spinner *ngIf="chatMessageLoading"
                         class="chat-messages-spinner-loading"></mat-spinner>
            <div class="d-flex flex-column" *ngFor="let msg of messages"
                 [ngClass]="msg.senderId == currentUser.id ? 'bubble me' : 'bubble you'">
              <!--<div class="text-end">
                <mat-icon [matMenuTriggerFor]="menuMessage">expand_more</mat-icon>
                <mat-menu #menuMessage="matMenu">
                  <button mat-menu-item>Reply</button>
                  <button mat-menu-item>Select</button>
                </mat-menu>
              </div>-->
              <span>{{msg.message}}</span>
              <span class="text-end message-create-time">{{msg.createdAt}}</span>
            </div>
          </div>
          <div *ngIf="!messages || messages.length === 0" class="d-flex flex-column justify-content-center"
               style="height: 100%">
            <div class="text-center">
              Started Chat with
              {{selectedChat?.receiverFirstName + ' ' + selectedChat?.receiverLastName}}
            </div>
          </div>
          <div class="" *ngIf="messageForm">
            <!--<a href="javascript:;" class="write-link attach"></a>-->
            <form (ngSubmit)="sendToMessage()" [formGroup]="messageForm">
              <div class="d-flex flex-row mt-2">
                <input class="form-control" type="text"
                       formControlName="message"
                       (keydown.enter)="sendToMessage()"/>
                <button class="ms-2 btn btn-primary"
                        [disabled]="messageForm.invalid"
                        (click)="sendToMessage()">Send
                </button>
              </div>
            </form>
            <!--<a href="javascript:;" class="write-link smiley"></a>
            <a href="javascript:;" class="write-link send"></a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
