@mixin font-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

@mixin font {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}


.right {
  padding-right: 20px;
  position: relative;
  float: left;
  height: 100%;
  width: 100%;

  .top {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: var(--input-background);

    span {
      font-size: 15px;
      color: var(--grey);

      .name {
        color: var(--dark);
        @include font-bold;
      }
    }
  }

  .chat {
    height: 100%;
    position: relative;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px 30px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--light);
    justify-content: flex-end;
    flex-direction: column;

    .reply-to-message {
      cursor: pointer;
      border-radius: 5px;

      .reply-fullname {
        font-size: 12px;
        color: var(--blue) !important;
      }

      .reply-message {
        font-size: 12px;
      }
    }

    .reply-to-message-me {
      background-color: var(--reply-background);
    }

    .reply-to-message-you {
      background-color: var(--input-background);
    }

    .bubble {
      transition-timing-function: cubic-bezier(.4, -.04, 1, 1);
      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          animation-duration: .15s * $i;
        }
      }
    }

    .message {
      position: relative;
    }

    .message-options {
      height: 20px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 5px 5px 100px 5px;
      box-shadow: 2px 2px 3px 0px rgb(31 31 31 / 45%);
    }

    .message-option-me {
      background-color: var(--input-background);
    }

    .message-option-you {
      background-color: var(--chat-background);
    }

    .message:hover {
      .message-options {
        visibility: visible !important;
        opacity: 1 !important;
      }
    }

    .message-form {

    }

  }

  .chat::-webkit-scrollbar {
    width: 10px;
  }

  .chat::-webkit-scrollbar-track {
    background-color: var(--scrolbar-track);
    border-radius: 100px !important;
  }

  .chat::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 100px !important;
  }

  .write {
    position: absolute;
    bottom: 29px;
    left: 30px;
    height: 42px;
    padding-left: 8px;
    border: 1px solid var(--light);
    background-color: var(--input-background);
    width: calc(100% - 58px);
    border-radius: 5px;

    input {
      font-size: 16px;
      float: left;
      width: 347px;
      height: 40px;
      padding: 0 10px;
      color: var(--dark);
      border: 0;
      outline: none;
      background-color: var(--input-background);
      @include font;
    }

    .write-link {
      &.attach {
        &:before {
          display: inline-block;
          float: left;
          width: 20px;
          height: 42px;
          content: '';
          /*background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png');*/
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.smiley {
        &:before {
          display: inline-block;
          float: left;
          width: 20px;
          height: 42px;
          content: '';
          /*    background-image: url('');*/
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &.send {
        &:before {
          display: inline-block;
          float: left;
          width: 20px;
          height: 42px;
          margin-left: 11px;
          content: '';
          /*         background-image: url('');*/
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  .bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 5px 10px;
    vertical-align: top;
    border-radius: 5px;

    &:before {
      position: absolute;
      top: 19px;
      display: block;
      width: 8px;
      height: 6px;
      content: '\00a0';
      transform: rotate(29deg) skew(-35deg);
    }

    &.you {
      float: left;
      color: var(--white);
      background-color: var(--chat-background);
      align-self: flex-start;
      animation-name: slideFromLeft;

      &:before {
        left: -3px;
        background-color: var(--chat-background);
      }
    }

    &.me {
      float: right;
      color: var(--dark);
      background-color: var(--input-background);
      align-self: flex-end;
      animation-name: slideFromRight;

      &:before {
        right: -3px;
        background-color: var(--input-background);
      }
    }
  }

  .conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;

    span {
      font-size: 14px;
      display: inline-block;
      color: var(--grey);

      &:before, &:after {
        position: absolute;
        top: 10px;
        display: inline-block;
        width: 30%;
        height: 1px;
        content: '';
        background-color: var(--light);
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }

  .message-create-time {
    font-size: 11px;
  }

  .chat-start-message {
    height: 100%;
  }
}

.single-page-chat {
  .chat {
    height: calc(100% - 120px);
  }

  .right {
    padding-right: 0 !important;
    height: 100% !important;

    .top {
      padding: 15px 10px !important;
    }
  }

  .chat-start-message {
    height: calc(100% - 110px) !important;
  }

  .message-form {
    padding: 0 10px !important;
  }

  .chat {
    padding: 5px 15px !important;
  }
}

@media screen and (max-width: 700px) {
  .right {
    padding-right: 0 !important;
    height: 100%;

    .top {
      padding: 15px 10px;
    }
  }
  .message-form {
    padding: 0 10px;
  }
  .chat {
    padding: 5px 15px !important;
  }
  .chat-start-message {
    height: calc(100% - 110px) !important;
  }
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
