<div class="right"
     *ngIf="selectedChat && selectedChat?.chatId === selectedChatId && currentUser">
  <div class="top d-flex flex-row">
            <div class="pe-2" *ngIf="innerWidth <= 700" [routerLink]="['/chat']">
              <mat-icon>arrow_back</mat-icon>
            </div>
            <span>To:
              <span class="name">
                   {{selectedChat.receiverFirstName + ' ' + selectedChat.receiverLastName}}
               </span>
            </span>
  </div>
  <div class="h-100">
    <div class="chat h-100 my-2" #endOfUserChat
         *ngIf="messages && messages.length > 0"
         data-chat="person1"
         infiniteScroll
         style="height: 100%"
         [scrollWindow]="false"
         [infiniteScrollDistance]="2"
         [infiniteScrollUpDistance]="2"
         [infiniteScrollThrottle]="150"
         (scrolledUp)="loadData()">
      <div class="conversation-start" *ngIf="!chatMessageLoading">
        <span>{{selectedChat.startedChatDate}}</span>
      </div>
      <mat-spinner *ngIf="chatMessageLoading && filterMessages.pageId < filterMessages.endPage"
                   class="chat-messages-spinner-loading"></mat-spinner>
      <div class="d-flex flex-row message" *ngFor="let msg of messages" [id]="'msg' + msg.chatMessageId"
           [ngClass]="msg.senderId == currentUser.id ? 'bubble me' : 'bubble you'">
        <div class="text-end message-options"
             [ngClass]="msg.senderId == currentUser.id ? 'message-option-me' : 'message-option-you'">
          <mat-icon [matMenuTriggerFor]="menuMessage">expand_more</mat-icon>
          <mat-menu #menuMessage="matMenu">
            <button mat-menu-item (click)="replyToMessage(msg)">Reply</button>
            <button mat-menu-item>Select</button>
          </mat-menu>
        </div>
        <div class="d-flex flex-column">
          <div *ngIf="msg.replyToMessage" class="d-flex flex-column reply-to-message p-1"
               (click)="scrollToRepliedMessage(msg.replyToMessage.replyToMessageId)"
               [ngClass]="msg.senderId == currentUser.id ? 'reply-to-message-me' : 'reply-to-message-you'">
                  <span class="reply-fullname">
                    {{msg.replyToMessage.replyToUserId === currentUser.id ?
                    'You' : msg.replyToMessage.replyToFullName}}
                  </span>
            <span class="reply-message">
                  {{msg.replyToMessage.message.substr(0, 14)}}
              {{msg.replyToMessage.message.length > 14 ? '...' : ''}}</span>
          </div>
          <span>{{msg.message}}</span>
          <div class="d-flex flex-row">
            <span class="text-end message-create-time me-1">{{msg.createdAt}}</span>
            <mat-icon *ngIf="msg.senderId == currentUser.id && !msg.readMessage" style="font-size: 16px">check
            </mat-icon>
            <mat-icon *ngIf="msg.senderId == currentUser.id && msg.readMessage" style="font-size: 16px">
              done_all
            </mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!chatLoading && (!messages || messages.length === 0)"
         class="d-flex flex-column justify-content-center"
         style="height: 100%">
      <div class="text-center">
        Started Chat with
        {{selectedChat?.receiverFirstName + ' ' + selectedChat?.receiverLastName}}
      </div>
    </div>
    <div *ngIf="chatLoading" class="d-flex flex-column justify-content-center"
         style="height: 100%">
      <div class="text-center">Loading Chat ...</div>
    </div>
    <div class="message-form" *ngIf="messageForm">
      <!--<a href="javascript:;" class="write-link attach"></a>-->
      <form (ngSubmit)="sendToMessage()" [formGroup]="messageForm">
        <div class="d-flex flex-row mt-2">
          <div class="d-flex flex-column flex-fill">
            <div class="card p-1 border-1 d-flex flex-row " *ngIf="replyToMessageDetail">
              <mat-icon (click)="replyToMessageDetail = null" style="cursor: pointer">cancel</mat-icon>
              <span class="ms-1">
                      {{replyToMessageDetail.message.substr(0, 14)}}
                {{replyToMessageDetail.message.length > 14 ? '...' : ''}}
                    </span>
            </div>
            <input class="form-control message-input" type="text"
                   formControlName="message"
                   (keydown.enter)="sendToMessage()"/>
          </div>
          <button class="ms-2 btn btn-primary"
                  [disabled]="messageForm.invalid"
                  (click)="sendToMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </form>
      <!--<a href="javascript:;" class="write-link smiley"></a>
      <a href="javascript:;" class="write-link send"></a>-->
    </div>
  </div>
</div>

