

// regular style toast | Toaster
@import '~ngx-toastr/toastr';


.text-error{
  color: red;
  font-size: 12px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
